.header{
		margin-top:0;
	h1{
		font-weight:bold;
	}

	#searchBox{
		padding-top:.5em;
	}
	.nav-glyph{
		background-color: $orange;
		height:7em;
		margin:1em .1em;
		padding-top:3em;

		width: 15%;
		font-size: .5em;
		color: #fff;
		list-style:none;

		

			a{

				color:#fff;
				// font-size: 1em;
				padding:0;
				margin: auto;
			}
		
	}
	.header-border{
		background-color:$lightGray;
		ul{
		li{
			list-style: none;
			a{
				text-decoration: none;
				color:#000;
			}
		}
	}
	}
}