@import "colors.scss";
body{
	margin:.5em .5em;

@import "header.scss";

#main-content{
	height:1000px;
	background-color:$lightGray;
	
	#main-top{
	height: 50%;

		.tctcol{
			
		}
}
	#main-bottom{
	height:50%;
}
}
#footer-row{
	height:300px;
	border:1px solid #000;
}
}