body {
  margin: 1em 1em; }
  body .header h1 {
    font-weight: bold; }
  body .header #searchBox {
    padding-top: .5em; }
  body .header .nav-glyph {
    background-color: #f79840;
    height: 7em;
    margin: 1em .1em;
    padding-top: 3em;
    width: 15%;
    font-size: .5em;
    color: #fff;
    list-style: none; }
    body .header .nav-glyph a {
      color: #fff;
      font-size: 1em;
      padding: 0; }
