/*header.scss*/
.header {
  margin-top: 0; }
  .header h1 {
    font-weight: bold; }
  .header #searchBox {
    padding-top: .5em;
    padding-right: 0;
    margin-right: 0; }
    .header #searchBox #search-wrapper {
      position: absolute;
      right: 0; }
      .header #searchBox #search-wrapper button {
        border-color: #494949;
        background-color: #494949;
        color: white; }
        .header #searchBox #search-wrapper button:active {
          border-color: #494949;
          border-image: none; }
        .header #searchBox #search-wrapper button:visited {
          border-color: #494949; }
        .header #searchBox #search-wrapper button:focus {
          border-color: #494949;
          outline: none; }
  .header .nav-glyph {
    background-color: #f79840;
    height: 7em;
    margin: 1em .5em;
    padding-top: 3em;
    width: 9em;
    font-size: .5em;
    list-style: none; }
    .header .nav-glyph .topTiles {
      color: white;
      font-size: 27px;
      position: absolute;
      top: 15%;
      left: 26%; }
    .header .nav-glyph a {
      color: #fff;
      margin-left: -1.5em;
      position: absolute;
      bottom: 1%; }
  .header .header-border {
    height: 34px;
    background-color: #f2f2f7; }
    .header .header-border .btn {
      border-radius: 0; }
      .header .header-border .btn:focus {
        outline: 5px auto #bcbcbc;
        border-radius: 0; }
    .header .header-border .navbar-nav {
      width: 100%; }
      .header .header-border .navbar-nav ul li {
        margin-top: 7px;
        list-style: none; }
        .header .header-border .navbar-nav ul li a {
          text-decoration: none;
          color: #000; }

/*body.scss*/
.boxH5, #main-content .big-box .box-wrapper .box-h-divider h5, #main-content .short-box .box-wrapper .box-h-divider h5, #main-content .small-box .box-wrapper .box-h-divider h5, #main-content .big-box h5, #main-content .short-box h5, #main-content .small-box h5 {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  left: .25em;
  top: .5em;
  color: yellow; }

#main-content {
  height: 1000px; }
  #main-content .big-box, #main-content .short-box, #main-content .small-box {
    height: 500px;
    position: relative;
    border: 1px solid black; }
    #main-content .big-box .box-wrapper, #main-content .short-box .box-wrapper, #main-content .small-box .box-wrapper {
      position: absolute;
      top: 10px;
      bottom: 10px;
      right: 10px;
      left: 10px;
      background-color: #bcbcbc;
      border: 1px solid black; }
      #main-content .big-box .box-wrapper .img-wrapper, #main-content .short-box .box-wrapper .img-wrapper, #main-content .small-box .box-wrapper .img-wrapper {
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden; }
        #main-content .big-box .box-wrapper .img-wrapper img, #main-content .short-box .box-wrapper .img-wrapper img, #main-content .small-box .box-wrapper .img-wrapper img {
          height: 100%; }
      #main-content .big-box .box-wrapper .big-text-wrapper, #main-content .short-box .box-wrapper .big-text-wrapper, #main-content .small-box .box-wrapper .big-text-wrapper {
        background-color: #0a1caa;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50%; }
      #main-content .big-box .box-wrapper .box-h-divider, #main-content .short-box .box-wrapper .box-h-divider, #main-content .small-box .box-wrapper .box-h-divider {
        position: relative;
        width: 100%;
        border: 1px solid black;
        height: 50%;
        background-color: lightblue; }
        #main-content .big-box .box-wrapper .box-h-divider h5, #main-content .short-box .box-wrapper .box-h-divider h5, #main-content .small-box .box-wrapper .box-h-divider h5 {
          top: 2em;
          font-size: 33px; }
      #main-content .big-box .box-wrapper .dropdown-content, #main-content .short-box .box-wrapper .dropdown-content, #main-content .small-box .box-wrapper .dropdown-content {
        display: none; }
    #main-content .big-box h6, #main-content .short-box h6, #main-content .small-box h6 {
      color: yellow;
      position: absolute;
      top: 4em;
      left: 2em; }
    #main-content .big-box p, #main-content .short-box p, #main-content .small-box p {
      position: absolute;
      color: yellow;
      bottom: 0;
      right: 1em; }

@media (min-width: 768px) and (max-width: 991px) {
  #main-content .big-box h5 {
    color: green; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #main-content .big-box h5 {
    color: red; } }

@media (min-width: 1200px) {
  #main-content .big-box h5 {
    color: blue; } }

/*footer.scss*/
#footer-row {
  height: 300px;
  border: 1px solid #000; }
