#main-content{
	height:1000px;

	.big-box, .short-box, .small-box {
		height:500px;
		background-color:$lightGray;
		border:1px solid black;

		h5{
			font-weight:bold;
			font-size: 50px;
			position:absolute;
			left:3em;
			top:3em;	
			}
	}
	.short-box, .small-box{
		height:250px;

	}



}