/*body.scss*/

.boxH5{
			font-weight:bold;
			font-size: 15px;
			position:absolute;
	
			top:.5em;
			color:white;


		}//.boxH5
.tiny-box{
	position: absolute;
    // background-color: green;
    height: 91%;
    width: 50%;
    overflow:hidden;

    h6{
	  position: absolute;
  	  bottom: 0;
  	  left: 0;
  	  right: 0;
  	  top: 8em;
  	  margin: 0;
  	  padding-top: 1em;
  	  padding-left: 1em;
  	  font-size: 10px;
    }
    p{
    	position:absolute;
    	bottom:0;
    	margin-bottom:2px;
    	font-size:10px;
    }
    img{
    	height:auto;
    	width:100%;

    }
}//tiny-box


#main-content{
	height:1000px;

	.big-box, .short-box, .small-box {
		height:350px;
		position:relative;
		// border:1px solid black;
		background-color:white;
		.box-wrapper{
			position:absolute;
			top:15px;
			bottom:15px;
			right:0px;
			left:0px;
			background-color:$lightGray;
			// border:1px solid black;

			.img-wrapper{
					position:relative;
					width:100%;
					height:60%;
					overflow:hidden;

					img{
						height:100%
					}//img
				}//img-wrapper
			.big-text-wrapper{
					background-color:$blue;
					position:absolute;
					right:0;
					bottom:0;
					left:0;
					height:40%
				}//big-text-wrapper
			.h-subdivider-top{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:50%;
				padding-bottom:15px;
				// background-color:$orange;
				   
				}//.h-subdivider-top
			.md-txt-wrapper{
				   		background-color:$orange;
				   		position: absolute;
    					right: 0;
    					top:0;
   						width: 55%;
   						height:90.911%;
				@extend .boxH5;

				h5{
					right:1em;
				}//h5
				h6{

				}//h6
				p{
					right:0;
					bottom:0;
					font-size:10px;
				}//p
			}//.md-txt-wrapper
			.sm-img-wrapper{
					@extend .img-wrapper;
					width:45%;
					height:100%
			}//h-subdivider-top
			.h-subdivider-bottom{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:50%;				
				bottom: 0;
    			top: 11.4em;
    			padding-top: 15px;

    						.md-txt-wrapper{
				   		background-color:$orange;
				   		position: absolute;
				   		top:1em;
    					right: 0;
    					bottom:0;
   						width: 55%;
   						height:90.911%;
				@extend .boxH5;

				h5{
					right:1em;
				}//h5
				h6{

				}//h6
				p{
					right:0;
					bottom:0;
					font-size:10px;
				}//p
			}//.md-txt-wrapper
			.sm-img-wrapper{
					@extend .img-wrapper;
					width:45%;
					height:100%
			}//sm-img-wrapper

    			#tiny-box-right{
    				@extend .tiny-box;
    				right:0;
    				padding-left:15px;
    				h6{
    					background-color:$blue;
    					margin: 0 0 0 15px;
    				}//h6

	    			}//#tiny-box-right
     			#tiny-box-left{
    				@extend .tiny-box;
    				left:0;
    				// background-color:$blue;
    				padding-right:15px;
    				h6{
    					background-color:$darkGray;
    					margin:0 15px 0 0;
    				}//h6
    				#tiny-box-lf-p{
    					margin-right:11px;
    				}//#tiny-box-lf-p
    			}//#tiny-box-left
			}//h-subdivider-bottom
		.box-h-divider{
			position:relative;
			width:100%;
			// border:1px solid black;

			height:50%;
			background-color:lightblue;
			h5{
				@extend .boxH5;
				left:.25em;
				top:2em;
				font-size:33px;
			}//h5
		}//box-h-divider
			.dropdown-content{
			display:none;
	}//dropdown-content
	}//box-wrapper

		h5{
				@extend .boxH5;
				left:.25em;
			}//h5
		h6{
			color:yellow;
			position:absolute;
			top:4em;
			left:2em;

			}//h6
		p{
			position:absolute;
			color:yellow;
			bottom:0;
			right:1em;

			}//p
		}//.big box

	}//#main-content







// ------------------------bootstrap breakpoints----------------------------//
@media (min-width: 768px) and (max-width: 991px) { 
		#main-content{
	.big-box{
		h5{
			color:green;

		}//h5
	}//.big-box
}//main-content


	}//col-sm

@media (min-width: 992px) and (max-width: 1199px) { 

	#main-content{
	.big-box{
		h5{
			color:red;
		}//h5
		.box-wrapper{
			.img-wrapper{
				img{
					width:100%;
					height:auto;
				}//img
			}//img-wrapper
			.h-subdivider-top{
				.sm-img-wrapper{
				img{
					width:100%;
					height:auto;
				}//img				
			}
			}
		}//box-wrapper
	}//.big-box
}//main-content

	}//col-md
@media (min-width: 1200px) { 
	#main-content{
	.big-box{
		h5{
			color:blue;
		}//h5
	}//.big-box
}//main-content

	}//col-lg

	// ------------------------bootstrap breakpoints----------------------------//





// ------------------------custom breakpoints----------------------------//
@media (min-width: 425px) and (max-width:768px) { 
	#main-content{
	.big-box{
		.box-wrapper{
			.img-wrapper{
				img{
					width:100%;
					height:auto;
				}//img
			}//img-wrapper
			.h-subdivider-top .h-subdivider-bottom{
				.sm-img-wrapper{
				img{
					width:100%;
					height:auto;
				}//img				}
			}
		}//box-wrapper
	}//.big-box
}//main-content

	}//col-lg
}//media
// ------------------------custom breakpoints----------------------------//
