/*header.scss*/
@mixin header-border {
	#header-border-wrapper{
	height: 20px;
	background-color: $lightGray;

	.border-nav{
		display:inline-block;
		float:left;
		width:100%;

		ul{
			list-style:none;
			padding-left:0;
			:last-child{
				margin-right:0;
					}//:last-child
					li{
						text-decoration: none;
						display:inline-block;
						margin-right:12%;
						color:black;
						a{
							color:black;
					}//a
				}//li
			}//ul


			button{
				display:none;
			}//button
		}//.border-nav
	}//.header-border-wrapper
	}//%placeholder



	h1{
		margin: 20px 0 20px -15px;
	}//h1

	.btn-wrapper{
		position:absolute;
		right:0;
		top:20px;
		.btn{
			background-color:$blue;
			color:white;
			border-color:$blue;
			border-radius:0;
			font-size: 21px;
			height:40px;
			width:40px;


			&:active{
				border-color:black;
				border-image:none;
  		    }//&:active
  		    &:visited{
  		    	border-color:$blue;
  		    }//&:visited
  		    &:focus{
  		    	border-color:$blue;
  		    	outline: none;
  		    }//&:focus
  		    span {
  		    	margin:-3px;
  		    }//span
		}//.btn
	}//.btn-wrapper

	#header-border-wrapper{
		height: 3px;
		background-color: $orange;

		.border-nav{
			display:none;
		}


	}//.header-border-wrapper















	@media (min-width: 768px) and (max-width: 991px) { 


			@include header-border;

	}//col-sm
	@media (min-width: 992px) and (max-width: 1199px) { 


		@include header-border;

		#header-border-wrapper{
			.border-nav{
				ul{
					li{
						margin-right:17%;
						}//li
					}//ul
				}//.border-nav
			}//#header-border-wrapper
	}//col-md
	@media (min-width: 1200px) { 


		@include header-border;

		#header-border-wrapper{
			height:34px;
			.border-nav{
				ul{


					li{
						margin-right:6%;
						margin-top:7px;
						}//li

					button{
						border-radius:0;
						display:inline;
						border-color:$darkGray;
						background-color:$darkGray;
						color:white;
						&:active{
							border-color:$darkGray;
							border-image:none;
						}

						&:visited{
							border-color:$darkGray;
						}
						&:focus{
							border-color:$darkGray;
							outline: none;
						}
	  		    	}//button	
	  			   }//ul				
				}//.border-nav
			}//#header-border-wrapper
	}//col-lg





// 	.header{
// 		margin-top:0;
// 	h1{
// 		font-weight:bold;
// 	}

// 	#searchBox{
// 		padding-top:.5em;
// 		padding-right:0;
// 		margin-right:0;

// 		#search-wrapper{
// 			position: absolute;
//   		    right: 0;

 //  		    button{
 //  		    	border-color:$darkGray;
 //  		    	background-color:$darkGray;
 //  		    	color:white;
 //  		    	&:active{
 //  		    		border-color:$darkGray;
 //  		    		border-image:none;
 //  		    	}

 //  		    	&:visited{
 //  		    		border-color:$darkGray;
 //  		    	}
 //  		    	&:focus{
 //  		    		border-color:$darkGray;
 //  		    		outline: none;
 //  		    	}

 //  		    }
	// 	}

	// }

// 	.nav-glyph{
// 		background-color: $orange;
// 		height:7em;
// 		margin:1em .5em;
// 		padding-top:3em;
// 		width: 9em;
// 		font-size: .5em;
// 		list-style:none;

// 			.topTiles{
// 				color:white;
// 				font-size: 27px;
//     			position: absolute;
//    			 	top: 15%;
//    			 	left:26%;	

//    			 }

// 			a{

// 				color:#fff;
// 				margin-left:-1.5em;
// 				position:absolute;
// 				bottom:1%;

// 			}

// 	}
// 	.header-border{
// 		height:34px;
// 		background-color:$lightestGray;

// 			   			.btn {
// 	   					border-radius:0;

// 					    	&:focus{
// 					    		outline: 5px auto $lightGray;
// 					    		border-radius:0;
// 					    	}
// 					    }
// 			.navbar-nav{
// 		    width: 100%;



// 		    	ul{
// 					li{
// 						margin-top:7px;
// 						list-style: none;
// 							a{
// 								text-decoration: none;
// 								color:#000;
// 			}
// 		}
// 	}


// 	}


// 	}
// }