/*header.scss*/

.header{
		margin-top:0;
	h1{
		font-weight:bold;
	}

	#searchBox{
		padding-top:.5em;
		padding-right:0;
		margin-right:0;

		#search-wrapper{
			position: absolute;
  		    right: 0;

  		    button{
  		    	border-color:$darkGray;
  		    	background-color:$darkGray;
  		    	color:white;
  		    	&:active{
  		    		border-color:$darkGray;
  		    		border-image:none;
  		    	}

  		    	&:visited{
  		    		border-color:$darkGray;
  		    	}
  		    	&:focus{
  		    		border-color:$darkGray;
  		    		outline: none;
  		    	}

  		    }
		}

	}

	.nav-glyph{
		background-color: $orange;
		height:7em;
		margin:1em .5em;
		padding-top:3em;
		width: 9em;
		font-size: .5em;
		list-style:none;

			.topTiles{
				color:white;
				font-size: 27px;
    			position: absolute;
   			 	top: 15%;
   			 	left:26%;	

   			 }

			a{

				color:#fff;
				margin-left:-1.5em;
				position:absolute;
				bottom:1%;

			}
		
	}
	.header-border{
		height:34px;
		background-color:$lightestGray;

			   			.btn {
	   					border-radius:0;
			
					    	&:focus{
					    		outline: 5px auto $lightGray;
					    		border-radius:0;
					    	}
					    }
			.navbar-nav{
		    width: 100%;



		    	ul{
					li{
						margin-top:7px;
						list-style: none;
							a{
								text-decoration: none;
								color:#000;
			}
		}
	}

	
	}


	}
}